@page
@model HECVAT_Survery.Pages.Completed_PageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Thank you for your submission.</h1>



    <p>Your results have been recorded.</p>
</div>
