@page
@model IndexModel
@{
    ViewData["Title"] = "HECVAT Home Page";
}

<div class="text-center">
    <h1 class="display-4">HECVAT Survery</h1>



    <p>Learn more about <a href="https://library.educause.edu/resources/2020/4/higher-education-community-vendor-assessment-toolkit">HECVAT and its secure uses</a>.</p>
</div>



<form method="get">
    <button type="Begin Survery" class="btn btn-primary" asp-page="/Survery_1">Begin Survery</button>
</form>