@page
@model IndexModel
@{
    ViewData["Title"] = "HECVAT Home Page";
}

<div class="text-center">
    <h1 class="display-4">HECVAT Survery</h1>
    <p>Learn more about <a target="_blank" rel="noopener noreferrer" href="https://library.educause.edu/resources/2020/4/higher-education-community-vendor-assessment-toolkit">HECVAT and its secure uses</a>.</p>
   

</div>

<img src="/images/HECVAT.png" alt="HECVAT"/>

<div>
    <b>
        What is the HECVAT?
    </b>
    <p>HECVAT or commonly known as the Higher Education Community Vendor Assessment Toolkit is a tool used by higher learning institutions such as
        Colleges and Universities. The HECVAT is designed as a questionnaire framework that has been specifically designed to measure the risk
        for the vendors of these education services. This tool is used to confirm that information, data, and cybersecurity policies are properly in place
        to protect the senstitive information made available to these educational services.
    </p>

</div>

@*<form method="get">
    <button type="Begin Survery" class="btn btn-primary" asp-page="/Survery_1">Begin Survery</button>
</form>*@

<form method="get">
    <button type="Begin Survery" class="btn btn-primary" asp-page="/Login_Page">Begin Survery</button>
</form>

