@page
@model HECVAT_Survery.Pages.Page2_Brett_Model
@{
}
<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>Question 21</td>
            <td><input type="text" name="answer21" /></td>
        </tr>
        <tr>
            <td>Question 22</td>
            <td><input type="text" name="answer22" /></td>
        </tr>
        <tr>
            <td>Question 23</td>
            <td><input type="text" name="answer23" /></td>
        </tr>
        <tr>
            <td>Question 24</td>
            <td><input type="text" name="answer24" /></td>
        </tr>
        <tr>
            <td>Question 25</td>
            <td><input type="text" name="answer25" /></td>
        </tr>
        <tr>
            <td>Question 26</td>
            <td><input type="text" name="answer26" /></td>
        </tr>
        <tr>
            <td>Question 27</td>
            <td><input type="text" name="answer27" /></td>
        </tr>
        <tr>
            <td>Question 28</td>
            <td><input type="text" name="answer28" /></td>
        </tr>
        <tr>
            <td>Question 29</td>
            <td><input type="text" name="answer29" /></td>
        </tr>
        <tr>
            <td>Question 30</td>
            <td><input type="text" name="answer30" /></td>
        </tr>

        <tr>
            <td>Question 31</td>
            <td><input type="text" name="answer31" /></td>
        </tr>
        <tr>
            <td>Question 32</td>
            <td><input type="text" name="answer32" /></td>
        </tr>
        <tr>
            <td>Question 33</td>
            <td><input type="text" name="answer33" /></td>
        </tr>
        <tr>
            <td>Question 34</td>
            <td><input type="text" name="answer34" /></td>
        </tr>
        <tr>
            <td>Question 35</td>
            <td><input type="text" name="answer35" /></td>
        </tr>
        <tr>
            <td>Question 36</td>
            <td><input type="text" name="answer36" /></td>
        </tr>
        <tr>
            <td>Question 37</td>
            <td><input type="text" name="answer37" /></td>
        </tr>
        <tr>
            <td>Question 38</td>
            <td><input type="text" name="answer38" /></td>
        </tr>
        <tr>
            <td>Question 39</td>
            <td><input type="text" name="answer39" /></td>
        </tr>
        <tr>
            <td>Question 40</td>
            <td><input type="text" name="answer40" /></td>
        </tr>



    </tbody>
</table>


<form method="get">
    <button type="Next Page" class="btn btn-primary" asp-page="/Page3(Jennifer)">Next Page</button>
</form>