@page
@model HECVAT_Survery.Pages.Page3_Jennifer_Model
@{
}

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>Question 41</td>
            <td><input type="text" name="answer41" /></td>
        </tr>
        <tr>
            <td>Question 42</td>
            <td><input type="text" name="answer42" /></td>
        </tr>
        <tr>
            <td>Question 43</td>
            <td><input type="text" name="answer43" /></td>
        </tr>
        <tr>
            <td>Question 44</td>
            <td><input type="text" name="answer44" /></td>
        </tr>
        <tr>
            <td>Question 45</td>
            <td><input type="text" name="answer45" /></td>
        </tr>
        <tr>
            <td>Question 46</td>
            <td><input type="text" name="answer46" /></td>
        </tr>
        <tr>
            <td>Question 47</td>
            <td><input type="text" name="answer47" /></td>
        </tr>
        <tr>
            <td>Question 48</td>
            <td><input type="text" name="answer48" /></td>
        </tr>
        <tr>
            <td>Question 49</td>
            <td><input type="text" name="answer49" /></td>
        </tr>
        <tr>
            <td>Question 50</td>
            <td><input type="text" name="answer50" /></td>
        </tr>

        <tr>
            <td>Question 51</td>
            <td><input type="text" name="answer51" /></td>
        </tr>
        <tr>
            <td>Question 52</td>
            <td><input type="text" name="answer52" /></td>
        </tr>
        <tr>
            <td>Question 53</td>
            <td><input type="text" name="answer53" /></td>
        </tr>
        <tr>
            <td>Question 54</td>
            <td><input type="text" name="answer54" /></td>
        </tr>
        <tr>
            <td>Question 55</td>
            <td><input type="text" name="answer55" /></td>
        </tr>
        <tr>
            <td>Question 56</td>
            <td><input type="text" name="answer56" /></td>
        </tr>
        <tr>
            <td>Question 57</td>
            <td><input type="text" name="answer57" /></td>
        </tr>
        <tr>
            <td>Question 58</td>
            <td><input type="text" name="answer58" /></td>
        </tr>
        <tr>
            <td>Question 59</td>
            <td><input type="text" name="answer59" /></td>
        </tr>
        <tr>
            <td>Question 60</td>
            <td><input type="text" name="answer60" /></td>
        </tr>



    </tbody>
</table>


<form method="get">
    <button type="Next Page" class="btn btn-primary" asp-page="/Completed_Page">Next Page</button>
</form>