@page
@model HECVAT_Survery.Pages.Page3_Jennifer_Model
@{
}

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td valign="top">
                41) Does your company manage the physical data center where the institution's data will reside?
                If your answer is no, please explain how you manage the physical data center.
            </td>
            <td>
                <textarea type="text" cols="40" rows="7" style="resize: none;" name="answer41"></textarea>
            </td>
        </tr>


        <tr>
            <td>42) Does your organization have physical security controls and policies in place?</td>
            <td>
                <label>
                    <input type="radio" name="answer42" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer42" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>43) Do you have physical access control and video surveillance to prevent/detect unauthorized access to your data center? </td>
            <td>
                <label>
                    <input type="radio" name="answer43" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer43" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>
                <p>44) Do you use an automated <span><a href="https://www.juniper.net/us/en/research-topics/what-is-ids-ips.html#:~:text=with%20IDS%2FIPS%3F-,Intrusion%20detection%20systems%20(IDS)%20and%20intrusion%20prevention%20systems%20(IPS,reporting%20them%20to%20security%20administrators.">IDS/IPS</a></span> system to monitor for intrusions?</p>
            </td>
            <td>
                <label>
                    <input type="radio" name="answer44" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer44" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>45) Do you enforce network segmentation between trusted and untrusted networks (i.e., Internet, DMZ, Extranet, etc.)?</td>
            <td>
                <label>
                    <input type="radio" name="answer45" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer45" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td valign="top">46) Do you have a formal incident response plan? If so, please give us a quick summary of the plan.</td>
            <td>
                <textarea type="text" cols="40" rows="7" style="resize: none;" name="answer46"></textarea>
            </td>
        </tr>


        <tr>
            <td>
                47) Do you carry cyber-risk insurance to protect against unforeseen service outages, data that
                is lost or stolen, and security incidents?
            </td>
            <td>
                <label>
                    <input type="radio" name="answer47" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer47" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>48) Do you have the capability to respond to incidents on a 24x7x365 basis?</td>
            <td>
                <label>
                    <input type="radio" name="answer48" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer48" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td valign="top">49) Can you share the organization chart, mission statement, and policies for your in security unit?</td>
            <td>
                <textarea type="text" cols="40" rows="7" style="resize: none;" name="answer49"></textarea>
            </td>
        </tr>


        <tr>
            <td>
                50) Will institution data be shared with or hosted by any third parties? (e.g. any entity not
                wholly-owned by your company is considered a third-party)
            </td>
            <td>
                <label>
                    <input type="radio" name="answer50" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer50" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>51) Do you perform security assessments of third party companies with which you share data? (i.e. hosting providers, cloud services, PaaS, IaaS, SaaS, etc.).</td>
            <td>
                <label>
                    <input type="radio" name="answer51" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer51" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td valign="top"> 52) Do you have an implemented third party management strategy? If yes, please explain to us this strategy.</td>
            <td>
                <textarea type="text" cols="40" rows="7" style="resize: none;" name="answer52"></textarea>
            </td>
        </tr>


        <tr>
            <td>
                53) Do you have a process and implemented procedures for managing your hardware supply chain? (e.g., telecommunications
                equipment, export licensing, computing devices)
            </td>
            <td>
                <label>
                    <input type="radio" name="answer53" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer53" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>54) Are information security principles designed into the product lifecycle?</td>
            <td>
                <label>
                    <input type="radio" name="answer54" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer54" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>55) Do you have a documented information security policy?</td>
            <td>
                <label>
                    <input type="radio" name="answer55" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer55" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>
                56) Do you have an incident response process and reporting in place
                to investigate any potential incidents and report actual incidents?
            </td>
            <td>
                <label>
                    <input type="radio" name="answer56" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer56" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>57) Do you have either an internal incident response team or retain an external team?</td>
            <td><input type="text" name="answer57" /></td>
        </tr>


        <tr>
            <td>
                <p>59) Are you utilizing a <span><a href="https://www.security.org/antivirus/spi-firewall/">stateful packet inspection (SPI)</a></span> firewall?</p>
            </td>
            <td>
                <label>
                    <input type="radio" name="answer58" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer58" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>59) Are you employing any next-generation persistent threat (NGPT) monitoring?</td>
            <td>
                <label>
                    <input type="radio" name="answer59" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer59" value="no" />
                    No
                </label>
            </td>
        </tr>


        <tr>
            <td>60) Are you generally able to accommodate storing each institution's data within their geographic region?</td>
            <td>
                <label>
                    <input type="radio" name="answer60" value="yes" />
                    Yes
                </label>
                <label>
                    <input type="radio" name="answer60" value="no" />
                    No
                </label>
            </td>
        </tr>



    </tbody>
</table>

<form method="get"><button type="Next Page" class="btn btn-primary" asp-page="/Completed_Page">Next Page</button></form>

