@page
@model HECVAT_Survery.Pages.Survery_1Model
@{
}

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>Question 1</td>
            <td><input type="text" name="answer1" /></td>
        </tr>
        <tr>
            <td>Question 2</td>
            <td><input type="text" name="answer2" /></td>
        </tr>
        <tr>
            <td>Question 3</td>
            <td><input type="text" name="answer3" /></td>
        </tr>
        <tr>
            <td>Question 4</td>
            <td><input type="text" name="answer4" /></td>
        </tr>
        <tr>
            <td>Question 5</td>
            <td><input type="text" name="answer5" /></td>
        </tr>
        <tr>
            <td>Question 6</td>
            <td><input type="text" name="answer6" /></td>
        </tr>
        <tr>
            <td>Question 7</td>
            <td><input type="text" name="answer7" /></td>
        </tr>
        <tr>
            <td>Question 8</td>
            <td><input type="text" name="answer8" /></td>
        </tr>
        <tr>
            <td>Question 9</td>
            <td><input type="text" name="answer9" /></td>
        </tr>
        <tr>
            <td>Question 10</td>
            <td><input type="text" name="answer10" /></td>
        </tr>

        <tr>
            <td>Question 11</td>
            <td><input type="text" name="answer11" /></td>
        </tr>
        <tr>
            <td>Question 12</td>
            <td><input type="text" name="answer12" /></td>
        </tr>
        <tr>
            <td>Question 13</td>
            <td><input type="text" name="answer13" /></td>
        </tr>
        <tr>
            <td>Question 14</td>
            <td><input type="text" name="answer14" /></td>
        </tr>
        <tr>
            <td>Question 15</td>
            <td><input type="text" name="answer15" /></td>
        </tr>
        <tr>
            <td>Question 16</td>
            <td><input type="text" name="answer16" /></td>
        </tr>
        <tr>
            <td>Question 17</td>
            <td><input type="text" name="answer17" /></td>
        </tr>
        <tr>
            <td>Question 18</td>
            <td><input type="text" name="answer18" /></td>
        </tr>
        <tr>
            <td>Question 19</td>
            <td><input type="text" name="answer19" /></td>
        </tr>
        <tr>
            <td>Question 20</td>
            <td><input type="text" name="answer20" /></td>
        </tr>



    </tbody>
</table>


<form method="get">
    <button type="Next Page" class="btn btn-primary" asp-page="/Page2(Brett)">Next Page</button>
</form>